// COLORS 


// ===========================  PRIMARY COLOR =========================== //


$pri-col : black; // <====== Fill with the primary color 
$bg-col : #e8e1d7;

// ===========================  SECONDARY COLOR =========================== //




$sec-col : red; //  <====== Fill with the secondary color 

$sec-col-light : red; //  <====== Fill with other colors  


// ===========================  OTHER COLOR =========================== //

$grey : red;


$white : red;
